.consult-request-list-item {
    background-color: #eee;
    margin-top: 6em;
    margin-left: 12em;
    margin-right: 12em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

.consult-request-list-item ul {
    list-style-type: none;
}