{{define "body"}}
    <iframe src="https://calendar.google.com/calendar/embed?src=a1e7c665574df09ef9502c94c9ce39219f5b5df5e3a002fb21bb63ae9287f308%40group.calendar.google.com&ctz=Europe%2FMinsk"  scrolling="no" class="kalendar"></iframe>
{{end}}
