{{define "base"}}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>{{.Title}}</title>
            <link rel="stylesheet" href="/static/css/bootstrap.min.css">
            <link rel="stylesheet" href="/static/css/admin.css">
        </head>
        <body>
            {{template "body" .}}
        </body>
    </html>
    </html>
{{end}}
