{{define "body"}}
    {{range .ConsultRequests}}
        <a href="/admin/consult-request/{{ .Id }}">
            <div class='consult-request-list-item'>
                <ul>
                    <li>{{ .Name }}</li>
                    <li>Consult at {{ .AvailableTime }}, {{ .ConsultDate }}</li>
                </ul>
            </div>
        </a>
    {{else}}
        <div><strong>no rows</strong></div>
    {{end}}
{{end}}
