<!doctype html>
<html lang="ru">

<head>

   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="ststic/css/bootstrap.min.css">
    <link rel="stylesheet" href="ststic/css/owl.carousel.css">
    <link rel="stylesheet" href="ststic/css/style.css">
    <title>Психологическая помощь</title>
    <meta name="description"
          content="Психологическая помощь родителям и учащимся 'Средней школы №126 г. Минска'"/>
    <!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?ver=2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?ver=2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?ver=2">
    <link rel="manifest" href="/site.webmanifest">-->
    <style>
        #readmore {
            cursor: pointer;
            text-align: center;
            color: #3ea3ef;
        }

        .paybtn:hover {
            color: #0056b3 !important;
            border: 2px solid #0056b3 !important;
        }

        #readmore:hover {
            text-align: center;
            color: #0056b3
        }

        .fancybox-content {
            width: 90%;
            max-width: 700px;
        }

        #read {
            display: none
        }

        .col-md-4:nth-child(2) .bg-white2 {
            border-color: #a4ca6c;
        }

        header {
            background-position: 80%;

        }

        @media (max-width: 1199px) {
            .vh100 {
                height: auto;
            }

            header {
                padding: 50px 0;
                height: auto;
                background-position: 80%;
            }
        }

        body header .nav {
            position: fixed;
            z-index: 99;
        }

        #etap .pr p {
            padding: 10px;
            text-align: center !important;
        }
    </style>
      



</head>

<body>


<header>


    <nav class="nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="logo" >
                        <a href ="http://sch126.minsk.edu.by/"><img src="img/sch126.png" alt="логотип СШ №126"
                            title="Изображение логотипа СШ №126" ></a>
                        <p>Психологическая  <br> помощь</p> 
                    </div>
                </div>

                <div class="col-lg-5	 col-md-1" >
                    <ul id="menu" class="menu" >
                        <li><a href="#problem"> Проблемы </a></li>
                        <li><a href="#video"> Видео </a></li>  
                        <li><a href="#contact"> Контакты </a></li>
                        <li><a data-fancybox href="#call1"> Вход</a></li>
                        <button id="menu-toggle2"><i class="fas fa-times "></i></button>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-5">
                    <div class="phone">
                        <p style="margin-top:-3px; margin-left:1px "><b>Время работы:</b></p>
                        <p style="margin-top:-10px;"><i class="far fa-clock"></i> <b>10:00 - 18:00</b>&nbsp;</p>
                    </div>
                        <a data-fancybox href="#call" data-fancybox class="call-bnt">Связь с нами</a>
                        <button id="menu-toggle"><i class="fas fa-bars"></i></button>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row  vh100">
            <div class="col-md-10 col-lg-7 align-self-center">
                <h1>Анонимная
                    психологическая помощь
                    для учеников и их родителей<br>
                    СШ №126</h1>
                <a class="btn2" href="#cal2w">Получить консультацию</a>
            </div>
        </div>
    </div>
</header>

<div id="pre" class="container ">
    <div class="row">
        <div class="col-md-12">
            <h2>Как мы работаем</h2>
        </div>

        <div class="col-md-4 pr">
            <div style="min-height:200px"><img src="img/p1-min.png" alt="Иконка Безопасно"
                title="Изображение Безопасно"></div>
            <h4>Места проведения </h4>
            <p>Консультации проводятся в любом удобном Вам формате: <b><br>ОНЛАЙН без поездки в офис или ОФЛАЙН непосредственно в офисе школы или удобном Вам месте.</b></p>
        </div>

        <div class="col-md-4 pr">
            <div style="min-height:200px"><img src="img/p2-min.png" alt="Иконка Анонимно"
                title="Изображение Анонимно"></div>
            <h4>Анонимно</h4>
            <p>Все консультации <b>конфиденциальны на 100%</b>. Сведенья не передаются в диспансеры, больницы или 3-м лицам</p>
        </div>

        <div class="col-md-4 pr">
            <div style="min-height:200px"><img src="img/p3-min.png" alt="Иконка Дистанционно"
                                               title="Изображение Дистанционно"></div>
            <h4>Локации
            </h4>
            <p>Консультации в режиме ОНЛАЙН проводятся в любом удобном для Вас бесплатном приложении: <b>Skype, Zoom,
                Viber, WhatsApp, Telegram или по телефону. При проведении сеанса тет-а-тет Вы сами выбираете место. Это может быть как кабинет cпециалиста, так и любое другое общественное заведение</b>
            </p>
        </div>
    </div>
</div>

<div id="problem" class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>С какими проблемами работаем
            </h2>
        </div>

        <div class="col-md-12">
            <h3>Дети
            </h3>
        </div>

        <div class="col-md-4 col-6 pr">
            <h4>Здоровье</h4>
            <p>Плохое настроение, тоска, печаль, отчаяние, эмоциональные травмы, зависимости, бездетность</p>
        </div>

        <div class="col-md-4 col-6 pr">
            <h4>Низкая самооценка</h4>
            <p>Самобичевание, недовольство собой, самокритика, болезненная зависимость от чужого мнения и обвинениесебя.</p>
        </div>

        <div class="col-md-4 col-6 pr">
            <h4>Фобии и страх</h4>
            <p>Боязнь животных, знакомств с людьми, мнения других людей, общения, общественных выступлений,
                транспорта, высоты, замкнутых пространств.</p>
        </div>

        <div class="col-md-4 col-6 pr">
            <h4>Самопознание и принятие решений</h4>
            <p>Вопросы «Как жить дальше?», «Как быть?» и «Что делать дальше?», поиск внутренних ресурсов,
                определение жизненных целей</p>
        </div>
        <div class="col-md-4 col-6 pr">
            <h4>Сексуальные отношения</h4>
            <p>Помощь в осознании понятия "Сексуальные отношения". Полезные советы.</p>
        </div>
        <div class="col-md-4 col-6 pr">
            <h4>Неуверенность в себе</h4>
            <p>Сомнения в своих умениях, выборах, силах и исполнении задуманного. Отказ от выполнения активных
                действий, границы с социумом.</p>
        </div>

        <div class="col-md-12">
            <h3>Родители</h3>
        </div>

        <div class="col-md-4 col-6 pr">
            <h4>Отношения родители-дети
            </h4>
            <p>Непонимание и конфликты с детьми, причины возникновения конфликтов, решение проблем путем беседы.</p>
        </div>

        <div class="col-md-4 col-6 pr">
            <h4>Половое воспитание
            </h4>
            <p>Помощь в решении проблемы беседы с ребенком о половом воспитании.</p>
        </div>

        <div class="col-md-4 col-6 pr">
            <h4>Семейные отношения</h4>
            <p>Помощь с решением семейных проблем.</p>
        </div>

        <div class="col-md-4 col-6 pr">
            <h4>Школьная тревожность у ребенка</h4>
            <p>Советы по решения тревожности у ребенка перед школой, учителями и одноклассниками.</p>
        </div>

        <div class="col-md-4 col-6 pr">
            <h4>Фобии и страхи</h4>
            <p>Боязнь животных, знакомств с людьми, мнения других людей, общения, общественных выступлений,
                транспорта,
                высоты, замкнутых пространств.</p>
        </div>

        <div class="col-md-4 col-6 pr">
            <h4>Поддержка беременных</h4>
            <p>Страхи перед родами, сложности с беременностью и вынашиванием, подготовка к материнству.</p>
        </div>
        
        <div style="text-align:center" class="col-md-12 col-12"><b><a  href="#cal2w">Другие
            проблемы</a></b><br><br><br><br><br>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <h2>Специалист
            </h2>
        </div>
        <div class="col-md-7 pr">
            <h4>Ирина Пономорева </h4>
            <p style="font-size: 19px; margin-bottom: 20px;">Дипломированный психолог <br> Опыт работы 7 лет</p>
            <ul style="font-size: 15px; text-align:left;">
                <li>Психолог. Тренер. Участник многочисленных
                    конференций.</li>
                <li>Диплом государственного образца</li>
                <li>8 сертификатов дополнительного образования</li>
                <li>Индивидуальное и семейное психологическое консультирование.&nbsp;Консультации по детско-родительским
                    отношениям.</li>
            </ul>
            <p style="margin-bottom: 5px;">В консультировании применяется:</p>
            <ul style="font-size: 15px; text-align:left;">
                <li> Когнитивно-поведенческая терапия (КПТ)</li>
                <li>Универсальный трансдиагностический протокол (УТП) и др.</li>
            </ul>
        </div>

        <div class="col-md-5 pr">
            <div style="min-height:500px"><img src="img/irina.jpg" alt="Изображение Ирина"
                title="Изображение Ирина">
            </div>
        </div>
    </div>

    <div id="etap" class="container overflow-hidden">
        <div class="row" style="margin-top:30px;"></div>
    </div>






















    <div class="col-md-12">
        <h2>Консультация психолога онлайн</h2>
        <div id="readmore">читать далее</div>
        <br><br>
        <div id='read'>

            <p style="text-align:justify"><span style="font-size:14.0pt">Профессиональная <strong>консультация
                                психолога онлайн</strong> поможет вам решить многие жизненные проблемы. Специалист по
                            психологической помощи разберется в сложившейся ситуации, и подскажет лучший выход.</span>
            </p>

            <p style="text-align:justify"><span style="font-size:14.0pt">Если вы не можете явиться на
                            <strong>прием психолога</strong> лично, выручает дистанционная <strong>психологическая
                                консультация</strong>. Также когда вас смущает присутствие рядом малознакомого человека,
                            а общение на расстоянии является более комфортным.</span></p>

            <p style="text-align:justify"><span style="font-size:14.0pt">В любом случае, при персональной
                            встрече или разговоре <em>по Скайпу</em>, ваш помощник постарается стать другом, и взять на
                            себя тяжесть сложных психических отношений. Действенна <strong>помощь психолога
                                онлайн</strong> и при отсутствии близких людей, с которыми можно поделиться
                            переживаниями.</span></p>
            <p style="text-align:justify">&nbsp;</p>
            <h3 style="text-align:justify"><strong><span style="font-size:14.0pt">Как проходит дистанционное
                                консультирование</span></strong></h3>
            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify"><span style="font-size:14.0pt">Обращайтесь к нам любым удобным
                            способом, в зависимости от технических возможностей и бытовых предпочтений.</span></p>
            <p style="text-align:justify">&nbsp;</p>
            <h4 style="text-align:justify"><strong><span style="font-size:14.0pt">Мы
                                консультируем:</span></strong></h4>

            <ul>
                <li style="text-align:justify"><strong><span style="font-size:14.0pt">по
                                    телефону</span></strong><span style="font-size:14.0pt">;</span></li>
                <li style="text-align:justify"><span style="font-size:14.0pt">через Скайп;</span></li>
                <li style="text-align:justify"><span style="font-size:14.0pt">посредством WatsApp.</span></li>
            </ul>

            <p style="text-align:justify"><span style="font-size:14.0pt">Skype</span><span
                    style="font-size:14.0pt"> используется только с голосом или включается видео, как захотите.
                            Можете скрыть свое лицо и видеть консультанта. То же самое касается связи, установленной
                            через &laquo;<em>Вацап</em>&raquo;. Текст, голос или видеосвязь, выбирайте сами.</span></p>

            <p style="text-align:justify"><span style="font-size:14.0pt">Само собой, <strong>психолог
                                онлайн</strong> не требует разглашения вашего настоящего имени. Консультационные услуги
                            оказываются <em>анонимно</em>. Причем в удобное для клиента время, скажем, утром или
                            вечером. Понятно, что бывает трудно настроиться говорить о сокровенном в разгар дня, а ближе
                            к ночи проще рассказать о скрытых проблемах.</span></p>
            <p style="text-align:justify">&nbsp;</p>
            <h3 style="text-align:justify"><strong><span style="font-size:14.0pt">Кого консультирует наш
                                специалист</span></strong></h3>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify"><span style="font-size:14.0pt">Поскольку Интернет не знает границ,
                            обратиться можно из любого уголка земного шара. Даже находясь временно за границей. 
                            Мы общаемся на русском и белорусском языке. Специалист обслуживает учащихся и родителей учащихся ГУО "СШ №126" </span></p>

            
            <h3 style="text-align:justify"><strong><span style="font-size:14.0pt">Семейные секреты останутся в
                                тайне</span></strong></h3>

            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify"><span style="font-size:14.0pt">Частный <strong>психолог онлайн <em>без
                                    регистрации</em></strong> сохранить в тайне подробности вашей личной жизни. Кто
                            живет в маленьких городках и поселках, не говоря о селах, хорошо знает, как быстро
                            расходятся слухи после посещения местных медиков или социальных служб. Нежелательные
                            сведения становятся известными практически всем окрестным жителям.</span></p>

            <p style="text-align:justify"><span style="font-size:14.0pt">Избежать подобной огласки позволяет
                            дистанционная<strong> консультация психолога онлайн</strong>, во время которой совсем не
                            обязательно показывать свое лицо.</span></p>

            
        </div>
    </div>



















</div>
</div>


<section id="cal2w">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center overflow-hidden">
                <img src="img/img2-min.png" alt="Остались вопросы?" title="Изображение Остались вопросы?">
            </div>

            <div class="col-md-6 ">
                <h2>
                    Связь с нами
                </h2>
                <form>
                    <div class="form-group">

                        <input type="text" name="sursname" class="form-control" placeholder="Фамилия">
                        <input type="hidden" name="from" value="Остались вопросы?" class="form-control">
        
        
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Имя">
                        <input type="hidden" name="from" value="Остались вопросы?" class="form-control"
                            placeholder="Имя">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="phone" placeholder="Телефон">
                    </div>

                    <div class="form-group">
                        <select name="where">
                            <option value="" selected disabled>Кто вы?</option>
                            <option value="Учащийся">Учащийся</option>
                            <option value="Родитель">Родитель</option>
                            
                        </select>
                        <input type="text" name='time' class="form-control" placeholder="Удобное время для связи">
                        <select name="consult" style="margin-top:20px;">
                            <option value="" selected disabled>Когда нужна консультация	</option>
                            <option value="Сейчас срочно">Сейчас срочно</option>
                            <option value="Сегодня в любое время">Сегодня в любое время</option>
                            <option value="Завтра">Завтра</option>
                            <option value="В другой день">В другой день</option>
                        </select>  
                    </div>

                    <div class="form-group">
                        <textarea placeholder="Опишите вашу проблему" name="more" class="form-control"
                            id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn2">Отправить заявку</button>
                </form>
            </div>
        </div>
    </div>
</section>

<div id="contact" class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h2>Вы можете связаться с нами</h2>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <a class="ic1" href="tel:+375(29)569-43-09">
                    +375(29)569-43-09</a>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <a class="ic1" href="https://www.viber.com/ru/?utm_source=invite&utm_Medium=share&utm_campaign=msgtest">
                    Viber<img src="img/viber.png" style="height: 36px;margin-top:-5px;padding-right: 10px;"
                    alt="Иконка Viber" title="Изображение иконка Viber">+375295694309</a>
            </div>

	        <div class="col-lg-3 col-md-6">
                <a class="ic1" href="https://web.telegram.org/z/">
                   Telegram<img src="img/telegram.jpg" style="height: 36px;margin-top:-5px;padding-right: 10px;"
                    alt="Иконка Telegram" title="Изображение иконка  Telegram">@sch126</a>
            </div>           

	        <div class="col-lg-3 col-md-6">
                <a class="ic1" href="https://mail.yandex.ru/?uid=1130000006573778#inbox">
                Email: <img src="img/i4-min.png" style="height: 36px;margin-top:-5px;padding-right: 10px;"
                alt="Иконка Email" title="Изображение иконка Email"> sch126@minsk.edu.by</a>
            </div>
	

        </div>
        <div id="footer" class="container">
            <div class="row">
                <div class="col-sm-4 align-self-lg-start"></div>
                <div class="col-sm-4">
                    <h3>Сведенья</h3>
                    <p><a target="_blank" href="http://sch126.minsk.edu.by/" >ГУО "Средняя школа №126"</a></p>
                    <p><a target="_blank" >Комитет по образованию Мингорисполкома
                        Управление по образованию администрации Фрунзенского района г.Минска</a></p>
                    <p><a target="_blank" >РБ, г. Минск, 220117, Фрунзенский район, Ул. Янки Мавра 35</a></p>
                </div>

                <div class="col-sm-4  align-self-lg-end"></div>
            </div>
        </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="js/owl.carousel.js?ver=2"></script>
<script src="js/mmenu.js?ver=2"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>


    <div id="call1">
        <h2>Вход</h2>
        <form action="mail.php" method="post">
            <div class="form-group">

                <input type="text" name="login" class="form-control" placeholder="Логин">
            </div>
            <div class="form-group">

                <input type="password" name='password' class="form-control" placeholder="Пароль">
            </div>
            
            <button type="submit" class="btn2">Войти</button>
        </form>
    </div>
    
</div>


    <div id="call">
        <h2>Оставьте свои <br>контактные данные и мы<br>
            Вам перезвоним</h2>
        <form action="mail.php" method="post">
            <div class="form-group">

                <input type="text" name="sursname" class="form-control" placeholder="Фамилия">
                <input type="hidden" name="from" value="Заказать звонок" class="form-control">


            </div>
            <div class="form-group">

                <input type="text" name="name" class="form-control" placeholder="Имя">
                <input type="hidden" name="from" value="Заказать звонок" class="form-control">


            </div>
            <div class="form-group">

                <input type="text" name='phone' class="form-control" placeholder="Телефон">
            </div>
            <div class="form-group">
                <select name="where">

                    <option value="" selected disabled>Кто вы?</option>
                    <option value="student">Ученик</option>
                    <option value="parent">Родитель</option>
                    <option value="teacher">Учитель</option>
                    
                </select>
                <input type="text" name='time' class="form-control" placeholder="Удобное время для связи">
<select name="consult" style="margin-top:20px;">

                    <option value="" selected disabled>Когда нужна консультация	</option>
                    <option value="Сейчас срочно">Сейчас срочно</option>
                    <option value="Сегодня в любое время">Сегодня в любое время</option>
                    <option value="Завтра">Завтра</option>
                    <option value="В другой день">В другой день</option>
                </select>              
				</div>
            <button type="submit" class="btn2">Отправить заявку</button>
        </form>
    </div>
    
</div>




<script>

    var owl = $('.owl-carousel2');


    owl.owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
                nav: true,
            },
            600: {
                items: 2,
                nav: true,
            },
            1000: {
                items: 3,
                nav: true,
                loop: false
            }
        }
    })
    $('.customNextBtn').click(function () {
        owl.trigger('prev.owl.carousel');

    })
    // Go to the previous item
    $('.customPrevBtn').click(function () {
        owl.trigger('next.owl.carousel', [300]);

    })

    var owl2 = $('.owl-carousel3');
    owl2.owlCarousel({
        loop: true,
        margin: 10,
        video: true,
        lazyLoad: true,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,     nav: true,

            },
            600: {
                items: 2,     nav: true,

            },
            1000: {
                items: 2,
                nav: true,
                loop: false
            }
        }
    })
    $('.customNextBtn2').click(function () {
        owl2.trigger('prev.owl.carousel');

    })
    // Go to the previous item
    $('.customPrevBtn2').click(function () {
        owl2.trigger('next.owl.carousel', [300]);

    })

    $("#readmore").click(function () {
        $('#read').slideToggle()
    });  </script>
</body>

</html>
